.text {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.container {
  width: 70%;
  border: 2px dotted black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(240, 255, 255, 0.6);
}
